.sitewindow {
  position: absolute;
  resize: both;

  overflow: hidden;
  border-radius: 3px;
  background-color: #1c1c1c;
  width: 450px;
  color: white;
  height: 500px;
}

.sitewindow-top {
  color: #6e7a82;
  cursor: grab;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 20%);
  display: flex;
  padding: 5px;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;

  border-bottom: 0.5px solid #dadada;
  background-color: #e6e6e6;
  height: 36px;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 6px;
  cursor: pointer;
}

.sitewindow-top > :not(.searchbar):active {
  transform: scale(0.9);
}

.sitewindow-top > :not(.searchbar) {
  cursor: pointer;
}

.redbg {
  background-color: #ff622e;
}

.yellowbg {
  background-color: #ffa62e;
}

.searchbar {
  width: 75%;

  margin-left: px;
  padding: 2px;
  font-size: 11px;

  color: #6e7a82;
  outline: none;
  border: 1px solid #dadada;
  border-radius: 3px;
}

.greenbg {
  background-color: #55cc43;
  margin-right: 10px;
}

.margin-right {
  margin-right: 5px;
}

.margin-right-auto {
  margin-right: auto;
}

.warning {
  height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.warning > p {
  margin-top: 20px;
  font-style: italic;
  color: #6e7a82;
}
.container-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.non-selectable {
  pointer-events: none;
  user-select: none;
}
